*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #C6BEB5;
    position: relative;
}
#nav{
    height: 110px;
    /* background-color: red; */
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#nav img{
    height: 30px;
    width: 30%;
}
#nav h5{
    font-size: 20px;
    font-weight: 60;
    width: 30%;
}
#nav i{
    width: 30%;
    text-align: right;

}

/* v- 14:04 */